<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="container">
  
  <ion-grid>
    <ion-row>

      <ion-col width-100>
  
        <!-- Begin Lista -->
        <ion-list>
          <ion-item>        <strong>App Name: </strong> SelvaFood
          </ion-item>
                  
          <ion-item>
            <strong>Version: </strong> 0.0.0
          </ion-item>
         
          <ion-item>
            <strong>Description: </strong> Ejemplo de Descripciondsf
          </ion-item>           
        </ion-list>
        <!-- End Lista -->

      </ion-col>  

    </ion-row>    
  </ion-grid>

</ion-content>
